# ===================================================================
# 1. IDEs (JetBrains & VS Code)
# ===================================================================
.idea/
*.iml
*.iws
*.ipr

.vscode/

# ===================================================================
# 2. Environments & Secrets
# ===================================================================
.venv
venv/
env/
.env
.envrc

# ===================================================================
# 3. Compiled, Builds, Packages
# ===================================================================
__pycache__/
*.py[codz]
*$py.class

build/
dist/
*.egg-info/
*.egg

# ===================================================================
# 4. Testing & Quality Tools
# ===================================================================
.coverage
.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
nosetests.xml
coverage.xml

# ===================================================================
# 5. Logs & Data
# ===================================================================
*.log
db.sqlite3
